@media only screen and (max-width: 1200px) {
  .my-text {
    width: 80%;
    padding: 0 2%;
    text-align: center;
  }
  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .entry img {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 90%;
  }

  .my-text {
    margin-left: 6%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .entry img {
    width: auto;
    height: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .main-nav li {
    /* border: 1px solid #f00; */
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    font-size: 80%;
  }

  .main-nav {
    margin-right: 50px;
  }

  .footer-nav-one {
    display: inline-block;
    margin-left: 0px;
    margin-top: 10px;
  }

  .footer-nav-two {
    margin-left: 20px;
  }
}
